{% extends 'base.html.twig' %}



{% block body %}
    {% for message in app.flashes('success') %} 
        <dialog class="message ok">
            {{ message }}
        </dialog>
    {% endfor %}
    <section id="firstview">
        <div class="presentation">
            <img src="{{asset('images/fdp0.png')}}" alt="Photo de Marie Barbé">
            <div>
                <div>
                    <h2>
                        Hey, je suis Marie.
                    </h2>
                    <p>
                        Je vous aide à adapter votre alimentation grâce à un programme et un suivi personnalisé. 
                        Mon but : Vous permettre d’améliorer votre santé. 
                    </p>
                    <a class="btn draw-border" href="#presentation">En savoir plus</a>
                </div>
            </div>
        </div>
        <div>
            <h2>
                Menu
            </h2>
            <div>
                <a class="btn draw-border" href="#appointment">Détail des consultations</a>
                <a class="btn draw-border" href="#usercategories">Pour qui?</a>
                <a class="btn draw-border" href="#faq">Foire aux questions</a>
            </div>
        </div>
    </section>
    {# ---------------------------------------------------------- #}
    <section id="presentation">
        <h2>
            Mon parcours
        </h2>
        <p>
            Forte d'une expérience d'infirmière diplômée d'état, auprès de différents pubpcs, j'ai effectué une reconversion professionnelle dans le domaine de la nutrition.
        </p>
        <p>
            Passionnée de diététique et adorant la cuisine, je me suis naturellement orientée vers ce domaine. 
        </p>
        <p>
            Aujourd'hui, je suis prête à vous aider et vous apporter toute la positivité nécessaire afin de mettre en oeuvre des changements qui vous apporteront le suivi de santé et le bien être que vous recherchez.  
        </p>
        <p>
            Je m'engage à créer un pen avec chaque patient qui cherche à perdre ou contrôler son poids; à faire face à une maladie chronique; suivi de grossesse;  pathologies de l'enfant ...
        </p>
        <p>
            Située sur Bordeaux et ses alentours, Marie Diététicienne Nutritionniste est une Diététicienne professionnelle, spéciapsée dans la thérapie nutritionnelle et l'éducation apmentaire. 
        </p>
        <p>
            Marie Diététicienne Nutritionniste est aux côtés de ses patients pour améporer leur quapté de vie.
        </p>
        <p>
            Pour apprendre à adopter un mode de vie plus sain, prenez contact.
        </p>
        <p>
            Prenez les devants, 
        </p>
        <p>
            Créez votre changement. 
        </p>
    </section>
    {# --------------------------------------------------------------------- #}
    <section id="usercategories">
        <div>
            <div class="categorycard">
                <h3>
                    Consultation pour la perte de poids
                </h3>
                <p>
                    Réequilibrage apmentaire
                </p>
            </div>
            <div class="categorycard">
                <h3>
                    Consultation suivi pathologie
                </h3>
                <p>
                    Les conseils dont vous avez besoin pour prendre votre santé en main
                </p>
            </div>
            <div class="categorycard">
                <h3>
                    Consultation femme enceinte /femme allaitante
                </h3>
                <p>
                    Préparez l'arrivée de votre bébé en toute sérénité
                </p>
            </div>
            <div class="categorycard">
                <h3>
                    Consultation suivi enfant /adolescent -16 ans
                </h3>
                <p>
                    Les clés pour une bonne croissance
                </p>
            </div>
        </div>
    </section>

    {# --------------------------------------------------------------------- #}
    <section id="appointment">
        <img src="{{asset('images/bawl2.png')}}" alt="plat diet">
        <div>
            <div>
                <div class="appointmentcard">
                    <h3>
                        Première consultation / Bilan
                    </h3>
                    <h4>
                        Compter environ 1 heure
                    </h4>
                    <ul>
                        <p>
                            Bilan complet
                        </p>
                        <p>
                            Mise en évidence des points positifs et des difficultés
                        </p>
                        <p>
                            Définition du plan alimentaire personnalisé
                        </p>
                        <p>
                            Mise en place du suivi pour préparer l'accompagnement
                        </p>
                    </ul>
                </div>
            </div>
            <div>
                <div class="appointmentcard">
                    <h3>
                        Consultations de suivi
                    </h3>
                    <h4>
                        Environ 30 min
                    </h4>
                    <ul>
                        <p>
                            Prise en compte de votre ressenti
                        </p>
                        <p>
                            Mise en évidence de votre évolution
                        </p>
                        <p>
                            Adaptation du plan alimentaire en fonction de vos besoins
                        </p>
                        <p>
                            Réponses à vos questions et conseils personnalisés
                        </p>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    {# --------------------------------------------------------------------- #}
    <section id="faq">
        <div>
            <h3>
                Foire aux questions
            </h3>
            <div>
                <div class="question">
                    Quelle est la différence entre diététicienne et nutritionniste?
                    <p class="answer">
                        Un/une diététicien(ne) est un professionnel reconnue et diplômé d’un BTS ou DUT. Ce diplôme d’État  est enregistré auprès de l’agence Régionale de santé et possède un numéro ADEp.  ce qui Garanti des quapfications,  une formation qui a été encadrée et un statut légal. Les consultations sont remboursées par les mutuelles. 
                    </p>
                    <p class="answer">
                        Un/une nutritionniste n'est pas forcément un professionnel de santé, il ou elle n'a pas de statut légal, pas de formation reconnue et définie. Il y a donc une possibilité de commerce illégal.
                        Assurez-vous que votre nutritionniste soit un diététicien ou un médecin !
                    </p>
                </div>
                <div class="question">
                    Les consultations sont remboursées par l’assurance maladie?
                    <p class="answer">
                        Les consultations diététiques ne sont pas remboursées par l’assurance maladie néanmoins certaines mutuelles prennent en charge les remboursements des consultations. 
                        Une facture vous sera remise à chaque consultation par simple demande. 
                    </p>
                </div>
                <div class="question">
                    Quel est votre secteur de consultation?
                    <p class="answer">
                        Bordeaux et rive gauche (dans un rayon de 15km autours de Mérignac) sans supplément. 
                        Pour toute consultations hors de cette zone pensez aux consultations à distance. 
                        N’hésitez pas à me contacter pour tout renseignement sur les déplacements. 
                    </p>
                </div>
                <div class="question">
                    Qu'elles sont les avantages de la consultation à distance?
                    <p class="answer">
                        Envoie d’un lien par mail au moment de la validation de la prise de RDV. Cette consultation est identique à celles en présentiel, sans déplacement. Seule différence : paiement avant la consultation.
                    </p>
                </div>
                <div class="question">
                    Qu'elle est votre politique d'annulation des rendez-vous?
                    <p class="answer">
                        Si vous souhaitez annuler un RDV, merci de prévenir 48h à l’avance maximum pour un remboursement de votre consultation. 
                    </p>
                </div>
            </div>
            <p>
                Pour toute autre questions prenez contact via le formulaire de <a class="underline" href="{{path("app_contact_contact")}}">contact</a>,<a class="underline" href="mailto:dieteticienne.marie@gmail.com"> mail</a> ou téléphone: 
                <span>07 49 64 54 52</span>
            </p>
        </div>
    </section>

    {# --------------------------------------------------------------------- #}
    <section id="review">
        <h2>
            Livre d'or
        </h2>
        <div class="carousel">
            {% for review in reviews %}       
                <div class="reviewcard">
                    <h3>{{ review.title }}</h3>
                    <p>{{ review.content }}</p>
                    <h4>{{ review.author.firstname }}.</h4>
                {% if app.user is same as (review.author) %}
                    <div>
                        <a class="draw-border " href="{{path('app_home_editReview',{'id': review.id})}}">Modifier</a>
                        
                        <form action="{{path('app_home_deleteReview',{'id': review.id})}}" 
                        method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="csrf_token" value="{{csrf_token('review_delete_'~ review.id)}}">
                            <button class="draw-border ">
                                Supprimer  
                            </button>
                        </form>
                    </div> 
                {% endif %}    
                </div>
            {% endfor %}
        </div>
        <div class="btn">
        {% if app.user %}
        {# {% if reviews.author.id != app.user %}       #}
                <a class="btn draw-border" href="{{path("app_home_createReview")}}">Laisser un avis</a>
        {% endif %}  
        </div>
    </section>
    {# -------------------------------------------- #}
{% endblock %}
