{% extends 'base.html.twig' %}

{% block title %}Marie Barbé Inscription{% endblock %}

{% block body %}
    <section class="form">
    <section class="form">
        <h2>Inscription</h2>

        {{ form_start(registrationForm) }}
            <div class="smallform">
                {{ form_row(registrationForm.lastname, {
                    label: 'Nom'
                }) }}
                {{ form_row(registrationForm.firstname, {
                    label: 'Prénom'
                }) }}
            </div>
            {{ form_row(registrationForm.numberPhone, {
            label: 'Téléphone'
            }) }}
            {% for flashError in app.flashes('verify_email_error') %}
                <div role="alert">{{ flashError }}</div>
            {% endfor %}
            {{ form_row(registrationForm.email) }}
            <div class="choicebox">
                {{ form_row(registrationForm.age, {
                    label: 'Date de naissance'
                }) }}
            </div>
            <div class="smallform">
                {{ form_row(registrationForm.height, {
                    label: 'Taille'
                }) }}
                {{ form_row(registrationForm.weight, {
                    label: 'Poids'
                }) }}
            </div>
            <div class="choicebox">
                {{ form_row(registrationForm.userCategory, {
                    label: 'Profil de patient'
                }) }}
            </div>
            {{ form_row(registrationForm.profilePictureFile, {
                label: 'Photo de Profil',
            }) }}
            <div class="hidden">
                {{ form_row(registrationForm.profilePicture) }}
            </div>
            {{ form_row(registrationForm.password) }}
            <div class="check">
                {{ form_row(registrationForm.agreeTerms, {
                    label: 'Accepter les conditions d\'utilisation'
                }) }}
            </div>
            <button type="submit">S'inscrire</button>
        {{ form_end(registrationForm) }}
    </section>
{% endblock %}
