{% extends 'base.html.twig' %}

{% block title %}Marie Barbé RDV{% endblock %}

{% block body %}
    <section id="booking">
        <h2>Rendez-Vous</h2>
        <div>
            <div>
                <ul>
                    <li>
                        <span class="greentea"><i class="fas fa-circle"></i></span> Jours de prise de rendez-vous:
                        <table>
                            <caption>
                            </caption>
                            <tbody> 
                                <tr>
                                    <th>Lundi</th>
                                    <td>09:00 - 13:00</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td>14:00 - 19:00</td>
                                </tr>
                                <tr>
                                    <th>Mardi</th>
                                    <td>13:30 - 16:30</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td>18:30 - 20:00</td>
                                </tr>
                                <tr>
                                    <th>Mercredi</th>
                                    <td>13:30 - 15:30</td>
                                </tr>
                                <tr>
                                    <th>Jeudi</th>
                                    <td>08:00 - 9:30</td>
                                </tr>
                                <tr>
                                    <th>Vendredi</th>
                                    <td>09:00 - 13:00</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td>14:00 - 19:00</td>
                                </tr>
                                <tr>
                                    <th>Samedi</th>
                                    <td>10:00 - 14:00</td>
                                </tr>
                            </tbody>
                        </table>
                    </li>
                    <li>
                        <span class="darkgreen"><i class="fas fa-circle"></i></span> Rendez-vous en entente de validation
                    </li>
                    <li>
                        <span class="purple"><i class="fas fa-circle"></i></span> Créneaux horaires indisponible
                    </li>
                </ul>
                <div class="form"> 
                    {{form_start(BookingForm)}}
                        {{ form_row(BookingForm.bookingType, {
                            label: 'Type de rendez-vous'
                        }) }}
                        <p>
                            Veuillez prendre un rdv de 30min pour un suivi et 1h pour un 1er rdv ou un bilan.
                        </p>
                        {{ form_row(BookingForm.start, {
                            label: 'Début'
                        }) }}
                        {{ form_row(BookingForm.end, {
                            label: 'Fin'
                        }) }} 
                        {{ form_row(BookingForm.applicationChoice, {
                            label: 'Application de visio'
                        }) }} 
                        {{ form_row(BookingForm.message, {
                            label: 'Demande ou une question spécifique'
                        }) }} 
                        <div class="hidden">
                            {{ form_row(BookingForm.backgroundColor)}}
                            {{ form_row(BookingForm.borderColor)}} 
                            {{ form_row(BookingForm.textColor)}} 
                            {{ form_row(BookingForm.author)}} 
                        </div>
                        <button>
                            Envoyer
                        </button>
                    {{form_end(BookingForm)}} 
                </div>
            </div>
            <div id="calendar">
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js" integrity="sha256-AOrsg7pOO9zNtKymdz4LsI+KyLEHhTccJrZVU4UFwIU=" crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() 
        {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, 
            {
                initialView: 'timeGridWeek',
                locale: 'fr',
                timeZone: 'Europe/Paris',
                headerToolbar:
                {
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth,timeGridWeek',
                    today:    'Aujourd\'hui',
                    month:    'mois',
                    week:     'week',
                    day:      'day',
                    list:     'list'
                },
                businessHours: 
                {
                    daysOfWeek: [1,2,3,4,5,6],
                    startTime: '09:00',
                    endTime: '20:00'
                },

                
                
                events: {{ data|raw }}
                
            })
            calendar.render()
        })
    </script>
{% endblock %}