{% extends 'base.html.twig' %}

{% block title %}Contactez Marie B.{% endblock %}

{% block body %}
    <section class="form">
        <h2>Contacter Marie</h2>
        {{form_start(formContact)}}
            {% for message in app.flashes('success') %}
                {{ message }}
            {% endfor %}
            {{form_errors(formContact)}}

            
            {{form_row(formContact.name, {
            label: 'Nom'
        }) }}

            {{form_row(formContact.email)}}
            
            {{form_row(formContact.message)}}

            <button>
                Envoyer
            </button>
        {{form_end(formContact)}}
    </section>
{% endblock %}
