<header>
    <nav>
        <div>
            <img src="{{asset('images/MarieBarbé.png')}}" alt="Logo Marie Barbé">
            <div>
                <p>Diététicienne,</p>
                <p>Nutritionniste.</p>
            </div>
        </div>
        <ul>
            <li>
                <a href="{{path("app_home_index")}}">Acceuil</a>
            </li>
            <li>
                <a href="{{path("app_contact_contact")}}">Contact</a>
            </li>
            {% if not app.user %}
            <li>
                <a href="{{path("app_registration_register")}}">Inscription</a> / <a href="{{path("app_security_login")}}">Connexion</a>
            </li>
            {% else %}            
                <li>
                    <a href="{{path("app_booking_index")}}">Rendez-vous</a>
                </li>
                <li>
                    <a href="{{path("app_user_profile",{'id' : app.user.id})}}"><i class="far fa-user-circle"></i></a>
                </li>
                <li>
                    <a href="{{path("app_logout")}}">Déconnexion</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>