{% if not app.user %}
<header>
    <nav>
        <img src="{{asset('images/MarieBarbé.png')}}" alt="Logo Marie Barbé">
        <div>
            <p>Diététicienne,</p>
            <p>Nutritionniste.</p>
        </div>
        <ul>
            <li>
                <a href="{{path("app_home_index")}}">Acceuil</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a href="{{path("app_registration_register")}}">Inscription</a> / <a href="{{path("app_security_login")}}">Connexion</a>
            </li>
        </ul>
    </nav>
</header>
{% else %}
    <header>
    <nav>
        <img src="{{asset('images/MarieBarbé.png')}}" alt="Logo Marie Barbé">
        <div>
            <p>Diététicienne,</p>
            <p>Nutritionniste.</p>
        </div>
        <ul>
            <li>
                <a href="{{path("app_home_index")}}">Home</a>
            </li>
            <li>
                <a href="#">Contact</i></a>
            </li>
            <li>
                <a href="{{path("app_user_profil",{'id' : app.user.id})}}"><i class="far fa-user-circle"></i></a>
            </li>
            <li>
                <a href="{{path("app_logout")}}">Déconnexion</a>
            </li>
        </ul>
    </nav>
</header>
{% endif %}