<header>
    <nav>
        <div>
            <img src="{{asset('images/MarieBarbé.png')}}" alt="Logo Marie Barbé">
            <div>
                <h1> 
                    Diététicienne,
                    Nutritionniste.
                </h1>
            </div>
        </div>
        <ul>
            <li>
                <a  class='underline' href="{{path("app_home_index")}}">Acceuil</a>
            </li>
            <li>
                <a class='underline'href="{{path("app_contact_contact")}}">Contact</a>
            </li>
            {% if not app.user %}
            <li>
                <a class='underline' href="{{path("app_registration_register")}}">Inscription</a> / <a  class='underline' href="{{path("app_security_login")}}">Connexion</a>
            </li>
            {% else %}            
                {# <li>
                    <a  class='underline' href="{{path("app_booking_index")}}">Rdv</a>
                </li> #}
                <li>
                    <a href="{{path("app_user_profile",{'id' : app.user.id})}}"><i class="far fa-user-circle"></i></a>
                </li>
                <li>
                    <a  class='underline' href="{{path("app_logout")}}">Déconnexion</a>
                </li>
            {% endif %}
                <li id="burger">
                    <i class="fas fa-bars"></i>
                </li>
        </ul>
    </nav>
</header>

{# www.gloomaps.com/3pEvaZMFY7G #}