{% extends 'base.html.twig' %}

{% block title %}Page de Profil{% endblock %}

{% block body %}
    <section id= "profile">
        <div id="infouser">
            <img src="{{asset('images/media/' ~ app.user.profilePicture)}}" alt="Photo de profil">
            <h3>{{ app.user.firstname }}.</h3>
            <p>
                <a class="draw-border" href="{{path('app_edit',{'id': app.user.id})}}">Modifier profil</a>
    
                <form action="{{path('app_security_delete',{'id': app.user.id})}}" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="csrf_token" value="{{csrf_token('user_delete_' ~ app.user.id)}}"> 
                    <button class="draw-border" >
                        Supprimer  profil  
                    </button>
                </form>
            </p>
        </div>

        {% for recipePost in recipesPosts %}
            {% if recipePost.titleR != null %}
                <div class="recipe">
                    <div>
                        <h3>{{recipePost.titleR}}</h3>
                        {% if recipePost.picture != null %}
                            <img src="{{asset('images/media/' ~ recipePost.picture)}}" alt="photo du plat">
                        {% endif %}
                        <div>
                            <p>{{recipePost.ingredient|nl2br}}</p>
                            <div>
                                <p>{{recipePost.difficulty}}</p>
                                <p>temps  {{recipePost.preparationTime|date("h:m")}}</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h3>Préparation</h3>
                        <p>{{recipePost.recipe|nl2br }}</p>
                    </div>
                </div>
            {% endif %}
            {% if recipePost.titleP != null %}
                <div class="post">
                    <h3>{{recipePost.titleP}}</h3>
                    <p>{{recipePost.content|nl2br}}</p>
                    <h4>Marie.</h4>
                </div>
            {% endif %}
        {% endfor %}
    </section>
{% endblock %}