{% extends 'base.html.twig' %}

{% block title %}Page de Profil{% endblock %}

{% block body %}
    {% if app.user.profilePicture != null %}
        <img src="{{asset('images/media/' ~ app.user.profilePicture)}}" alt="Photo de profil">
    {% endif %}
    <h3>{{ app.user.firstname }}</h3>

    {% for post in posts %}
        <h3>{{post.title}}</h3>
        <img src="{{asset('images/media/' ~ post.picture)}}" alt="{{asset('images/media/' ~ post.picture)}}">
        <p>{{post.content}}</p>
    {% endfor %}

    {% for recipe in recipes %}
        <h3>{{recipe.title}}</h3>
        <img src="{{asset('images/media/' ~ recipe.picture)}}" alt="{{asset('images/media/' ~ recipe.picture)}}">
        <p>{{recipe.recipe}}</p>
    {% endfor %}

{% endblock %}