{% extends 'base.html.twig' %}

{% block title %}Page de Profil{% endblock %}

{% block body %}
    <section id= "profile">
        <div id="infouser">
            {# {% if app.user.profilePicture != null %} #}
                <img src="{{asset('images/media/' ~ app.user.profilePicture)}}" alt="Photo de profil">
            {# {% endif %} #}
            <h3>{{ app.user.firstname }}.</h3>
            <p>
                <a href="{{path('app_edit',{'id': app.user.id})}}">Modifier profil</a>
    
                <form action="{{path('app_security_delete',{'id': app.user.id})}}" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="csrf_token" value="{{csrf_token('user_delete_' ~ app.user.id)}}"> 
                    <button>
                        Supprimer  profil  
                    </button>
                </form>
            </p>
        </div>

        {% for recipe in recipes %}
            <div class="recipe">
                <div>
                    <h3>{{recipe.title}}</h3>
                    <p>{{recipe.recipe}}</p>
                </div>
                <div>
                    {% if recipe.picture != null %}
                        <img src="{{asset('images/media/' ~ recipe.picture)}}" alt="photo du plat">
                    {% endif %}
                    <div>
                        <p>{{recipe.ingredient}}</p>
                        <div>
                            <p>{{recipe.difficulty}}</p>
                            <p>temps  {{recipe.preparationTime|date("h:m")}}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}